.container {
    width: auto;
    border: 2px solid black;
    background-color: rgb(72, 86, 50);
    margin-top: 200px;
}

h1 {
    text-align: center;
    color: black;
}

#form {
    text-align: center;
    justify-content: center;
    align-items: center;
}

input {
    margin: 10px;
    height: 20px;
    width: 180px;
    font-size: 20px;
}

button {
    height: 30px;
    width: 90px;
    margin-top: 40px;
    background-color: rgb(70, 70, 148);
    color: white;
}